* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* reset */

/* header */



/* nav */



/* hero */


/* main */

/****** Flexbox features - Ali Style Start ******/
#flexbox-features {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #fff;
}

.container-flexbox-features {
    text-align: center;
}

.container-flexbox-features h1 {
    font-size: 2rem;
    margin: .5rem 0;
}

.container-flexbox-features h2 {
    font-size: 1rem;
    color: #666;
    margin-bottom: 2rem;
}

.features {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
}

.feature {
    background-color: #86bc42;
    color: #fefcff;
    border-radius: 8px;
    padding: 1rem;
    width: 15rem;
    text-align: center;
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.342);
    transition: transform .3s;
}

.feature:hover {
    transform: translateY(-5px);
}

.feature-icon {
    font-size: 2rem;
    border-radius: 50%;
    padding: .5rem;
    background-color: #fffcfe;
    color: #86bf3e;
    width: 4rem;
    margin: 0.5rem auto;
}

.feature-title {
    font-weight: bold;
    margin-bottom: .5rem;
}

.feature-description {
    font-size: .875rem;
    color: #545151;
}

.container .learn-more {
    padding: 1rem 2rem;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    background: rgb(255,255,255);
    background: linear-gradient(125deg, rgba(255,255,255,1) 0%, rgba(131,185,66,1) 13%, rgba(106,149,53,1) 100%);
    border: 2px solid rgb(120, 168, 61);
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.342);
    cursor: pointer;
    transition: transform .3s;
}

.container .learn-more:hover {
    transform: translateY(-5px);
}
/****** Flexbox features - Ali Style Finish ******/

/* section1 */


/* section2 */


/* section3 */


/* section4 */


/* footer */
