* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.button {
    padding: 0.5em 2rem;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    background: rgb(255,255,255);
    background: linear-gradient(125deg, rgba(255,255,255,1) 0%, rgba(131,185,66,1) 13%, rgba(106,149,53,1) 100%);
    border: 2px solid rgb(131,185,66);
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.342);
}

.button:hover {
    background: linear-gradient(125deg, rgba(255,255,255,1) 0%, rgba(131,185,66,1) 13%, rgb(60, 105, 4) 100%);
}

/* reset */

header {
    background-image: url(img/header-background-bowl.jpg);
    color: white;
    text-align:center;
    height: 500px;
    background-position: center;
    align-content: center;
}


.button {
    padding: 0.5em 2rem;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    background: rgb(255,255,255);
    background: linear-gradient(125deg, rgba(255,255,255,1) 0%, rgba(131,185,66,1) 13%, rgba(106,149,53,1) 100%);
    border: 2px solid rgb(120, 168, 61);
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.342);
}

.header-button{
    padding: 1rem;
}
nav {
    padding: 1rem;
}

nav ul li {
    display: inline;
    padding: 1rem;
}

nav ul a {
    text-decoration: none;
    color: white;
}
.logo {
    font-weight: bold;
    color: white;
}


/* hero */


/* main */


/* section1 */


/* section2 */


/* section3 */

#salad {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    row-gap: 4rem;
}

#section-salad {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.about-salad {
    text-wrap: wrap;
    text-align: justify;
    align-self: center;
    line-height: 1.5em;
}

.about-salad p {
    font-size: small;
    margin-top: 0.5rem;
    max-width: 60ch;
}

.about-salad a {
    text-decoration: none;
    font-size: small;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(131,185,66);
}

.about-salad a:hover {
    color: rgb(106,149,53);
}

#salad img {
    width: 400px;
    box-shadow: 7px 7px rgb(131,185,66);
    border-radius: 15px;
}

#salad figure {
    justify-self: center;
}

#about-salad1 {
    grid-column-start: 1;
    grid-row-start: 1;
}

#about-salad2 {
    grid-column-start: 2;
    grid-row-start: 2;
}

#section3-salad1 {
    grid-column-start: 2;
    grid-row-start: 1;
}

#section3-salad2 {
    grid-column-start: 1;
    grid-row-start: 2;
}

/* section4 */


/* footer */

footer {
    text-align: center;
    margin: 2rem;
}

#subscribe {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 1.5rem;
    
}

#subscribe input {
    width: 300px;
    height: 2rem;
    border-radius: 25px;
    text-align: center;
    border: 2px solid rgb(131,185,66);
}

#form {
    align-self: center;
}

#footer-item1 p {
    text-transform: uppercase;
    padding-top: 0.5rem;
    letter-spacing: 1px;
    font-size: small;
    justify-self: flex-start;

}